---
import { Icon } from "astro-icon/components";
import "@assets/css/hero/vertical_blocks_hero.css";
import ImageComponent from "@components/ImageComponent.astro";
const { hero, values } = Astro.props;
---

<header class="hero vertical-block-hero content-grid overflow-hidden">
  <div class="vertical-block-hero__content-wrapper">
    <article class="vertical-block-hero__content-wrapper-content">
      <h1 class="text-4xl font-bold">
        {hero?.title}
      </h1>
      <p>
        {hero?.excerpt}
      </p>
    </article>
    <div class="vertical-block-hero__content-wrapper-image">
      <ImageComponent
        image={hero?.expand?.image}
        lazy={false}
        fixedSize={500}
      />
    </div>
  </div>

  <div class="content-col-grid">
    {
      hero.expand.multiple_content.map((con: { title: string; content: any; }) => (
        <div class="content-col-grid__content">
          <h2 class="text-3xl">{con.title}</h2>
          <slot set:html={con.content} />
        </div>
      ))
    }
  </div>
</header>
