---
import "@assets/css/page-section.css";
import ImageComponent from "./ImageComponent.astro";
import PageCards from "@components/PageCards.astro";
const {page} = Astro.props
---
<section class="page-section">
    <div class="content-grid">
        <header class="page-section__header">
            <h2>{page.title}</h2>
            {page.show_excerpt && <p>{page.excerpt}</p>}
        </header>
    {page.content && (
        <div class="page-section__content">
            <article>
                <slot set:html={page.content}/>
            </article>
            {page.expand.page_image && (
                <div class="page-section__content-image">
                    <ImageComponent image={page.expand.page_image} lazy={true} fixedSize={800}/>
                </div>
            )}
        </div>

    )}
    {page.card_grid_type?.length > 0 && (<PageCards cards={page.expand.card_grid} type={page.card_grid_type}/>)}
    </div>

</section>